/* Keyframes */
@keyframes desktopnavlinks {

    0% {
        background-color: rgba(242, 217, 141, 0.2);
    }

    100% {
        background-color: #F2c299;
    }

}

@keyframes mobilenav {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }


}

@keyframes mobilenav1 {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }


}




/* Fonts */
@font-face {
    font-family: "josefin";
    src: url("/media/fonts/josefin.ttf");
}

@font-face {
    font-family: "chicle";
    src: url("/media/fonts/chicle.ttf");
}





/* Desktop */
@media only screen and (min-width: 601px) {

    * {
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .navmobile {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }

    header {
        height: 10vh;
        overflow-y: hidden;
    }

    .navdesktop {
        width: 100%;
        height: 10.5vh;
        background-color: rgba(242, 217, 141, 0.3);
        display: inline-block;
        flex-direction: row;
        justify-content: center;
        overflow-y: hidden;
    }

    .desktopnavlinks {
        display: flex;
        justify-content: center;
        margin-right: 10vh;
    }

    .desktoplogodiv {
        float:inline-start;
        padding: 0vh 0vh 0vh 3vh;
        height: 10vh;
        overflow-y: hidden;
    }

    .desktoplogo {
        width: 70px;
    }

    .desktopnavul {
        display: flex;
        flex-direction: row;
    }

    .mobilelinksul {
        visibility: hidden;
        width: 0%;
        height: 0vh;
    }

    .mobilelinksul1 {
        visibility: hidden;
        width: 0%;
        height: 0vh;
    }

    .desktopnava {
        text-decoration: none;
        padding: 4vh 4vh 3.31vh 4vh;
        color: #037F8C;
    }

    .desktopnava:hover {
        animation: desktopnavlinks 0.75s forwards;
    }

    .desktopnava1 {
        text-decoration: none;
        padding: 4vh 4vh 3.31vh 4vh;
        background-color: #F2c299;
        color: #037F8C;
    }

    main {
        background-color: #048ABF;
        /* height: 100vh; */
        /* margin-top: 10vh; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .first {
        width: 175vh;
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        padding: 5vh 0vh 5vh 0vh;
        flex-direction: column;
        text-align: center;
        margin-top: 4vh;
        margin-bottom: 4vh;
        color: white;
        font-family: josefin, helvetica;
    }

    .second {
        width: 175vh;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        padding: 5vh 0vh 5vh 0vh;
        flex-direction: column;
        text-align: center;
        margin-top: 4vh;
        margin-bottom: 4vh;
        color: white;
        font-family: josefin, helvetica;
    }

    .examplesBtn {
        padding: 2vh;
        margin-right: 60vh;
        margin-left: 60vh;
        border-radius: 25px;
        background-color: #F2D98D;
        text-decoration: none;
        color: black;
        font-family: josefin, helvetica;
    }

    .socialdiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .socialimg {
        width: 40px;
        padding: 1vh;
        border-radius: 25px;
    }

    .form {
        height: 70vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: josefin, helvetica;
    }
    
    .formp {
        margin: 2vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    label {
        font-family: josefin, helvetica;
    }

    .input {
        font-family: josefin, helvetica;
        height: 4vh;
        padding-left: 1.25vh;
        border-radius: 25px;
        border: none;
        margin-left: 15vh;
        margin-right: 15vh;
    }

    .inputtext {
        height: 20vh;
        border-radius: 15px;
        padding-left: 1.5vh;
        padding-top: 1.5vh;
        font-family: josefin, helvetica;
        border: none;
        margin-left: 15vh;
        margin-right: 15vh;
    }

    .submitbtn {
        background-color: #F2884B;
        background: #F2884B;
        font-family: josefin, helvetica;
        color: white;
        border: none;
        border-radius: 15px;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-left: 40vh;
        margin-right: 40vh;
    }

    .examplea {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        flex-direction: column;
        border-radius: 25px;
        margin: 1vh 2vh 1vh 2vh;
        background-color: rgba(255,255,255,0.2);
        box-shadow: 3px 3px 0px white;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    .examplea:active {
        display: flex;
        justify-content: center;
        text-decoration: none;
        border-radius: 25px;
        margin: 1vh 2vh 1vh 2vh;
        background-color: rgba(255,255,255,0.2);
        box-shadow: 0px 0px 0px white;
    }

    .exampleimg {
        width: 45vh;
        border-radius: 15px;
    }

    .examplep {
        text-decoration: none;
        color: white;
    }

    footer {
        width: 100%;
        height: 5vh;
        background-color: #037F8C;
        color: white;
        text-align: center;
    }

}





/* Mobile */
@media only screen and (max-width: 600px) {

* {
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .navdesktop {
        width: 100%;
        height: 0vh;
        visibility: hidden;
    }

    .navmobile {
        width: 100%;
        height: 11vh;
        background-color: rgba(242, 217, 141, 0.2);
        display: inline-block;
        overflow-y: hidden;
        position: fixed;
        z-index: 1;
    }

    header {
        height: 0vh;
        overflow-y: hidden;
    }

    .mainnavmobile {
        width: 100%;
        height: 11vh;
        background-color: rgba(242, 217, 141, 0.9);
        display: inline-block;
        overflow-y: hidden;
        position: fixed;
        z-index: 1;
    }

    .mobilenavlinks {
        margin: 2.5vh;
        float: inline-end;
    }

    .mobilelogodiv {
        float:inline-start;
        padding: 0vh 0vh 0vh 3vh;
    }

    .mobilelogo {
        width: 75px;
        padding-top: 1vh
    }

    .mobilenavul {
        display: flex;
        flex-direction: row;
    }

    #hamBtn {
        width: 50px;
        height: 50px;
        border: none;
        background-color: none;
        background: none;
        display: flex;
        justify-content: center;
        border-radius: 25px;
    }

    #ham {
        width: 70px;
        background-color: #037F8C;
        padding: 1vh;
    }

    .mobilenava {
        text-decoration: none;
        padding: 4vh 4vh 3.31vh 4vh;
        color: #037F8C;
    }

    /* .mobilenava1 {
        text-decoration: none;
        padding: 4vh 4vh 3.31vh 4vh;
        background-color: #F2c299;
        color: #037F8C;
    } */

    .mobilelinksa  {
        text-decoration: none;
        padding: 5vh 5vh 5vh 5vh;
        /* height: 10vh; */
        text-align: center;
        color: black;
        display: flex;
        justify-content: center;
        vertical-align: baseline;
        font-family: chicle, helvetica;
        letter-spacing: 3px;
    }

    .mobilelinksul {
        visibility: hidden;
        width: 100%;
        height: 0vh;
        z-index: 1;
        animation: mobilenav1 0.5s forwards;
    }

    .mobilelinksul1 {
        visibility: visible;
        width: 100%;
        /* height: 50vh; */
        background-color: #F2884B;
        z-index: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        margin-top: 11vh;
        animation: mobilenav 0.5s forwards;
    }

    main {
        background-color: #048ABF;
        /* height: 100vh; */
        margin-top: 11vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-content: center;
    }

    h1 {
        font-family: chicle, Ariel;
        letter-spacing: 3px;
    }

    h2 {
        font-family: chicle, Ariel;
        letter-spacing: 3px;
    }

    .first {
        width: 45vh;
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        padding: 5vh 0vh 5vh 0vh;
        flex-direction: column;
        text-align: center;
        margin-top: 4vh;
        margin-bottom: 4vh;
        color: white;
        font-family: josefin, helvetica;
    }

    .second {
        width: 45vh;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        padding: 5vh 0vh 5vh 0vh;
        flex-direction: column;
        text-align: center;
        margin-top: 4vh;
        margin-bottom: 4vh;
        color: white;
        font-family: josefin, helvetica;
    }

    .examplesBtn {
        padding: 2vh;
        margin-right: 2vh;
        margin-left: 2vh;
        border-radius: 25px;
        background-color: #F2D98D;
        text-decoration: none;
        color: black;
        font-family: josefin, helvetica;
    }

    .form {
        height: 70vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: josefin, helvetica;
    }
    
    .formp {
        margin: 2vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    label {
        font-family: josefin, helvetica;
    }

    .input {
        font-family: josefin, helvetica;
        height: 4vh;
        padding-left: 1.25vh;
        border-radius: 25px;
        border: none;
    }

    .inputtext {
        height: 20vh;
        border-radius: 15px;
        padding-left: 1.5vh;
        padding-top: 1.5vh;
        font-family: josefin, helvetica;
        border: none;
    }

    .submitbtn {
        background-color: #F2884B;
        background: #F2884B;
        font-family: josefin, helvetica;
        color: white;
        border: none;
        border-radius: 15px;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-left: 4vh;
        margin-right: 4vh;
    }

    .mainp {
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .examplea {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        flex-direction: column;
        border-radius: 25px;
        margin: 1vh 2vh 1vh 2vh;
        background-color: rgba(255,255,255,0.2);
        box-shadow: 3px 3px 0px white;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    .examplea:active {
        display: flex;
        justify-content: center;
        text-decoration: none;
        border-radius: 25px;
        margin: 1vh 2vh 1vh 2vh;
        background-color: rgba(255,255,255,0.2);
        box-shadow: 0px 0px 0px white;
    }

    .exampleimg {
        width: 20vh;
        border-radius: 15px;
    }

    .examplep {
        text-decoration: none;
        color: white;
    }

    .socialdiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .socialimg {
        width: 40px;
        padding: 1vh;
        border-radius: 25px;
    }

    .terms {
        font-family: helvetica, ariel;
        padding-right: 1vh;
        padding-left: 1vh;
    }

    footer {
        width: 100%;
        height: 5vh;
        background-color: #037F8C;
        color: white;
        text-align: center;
    }
    
}
