/* Keyframes */
@keyframes desktopnavlinks {

    0% {
        background-color: rgba(242, 217, 141, 0.2);
    }

    100% {
        background-color: #F2c299;
    }

}




/* Fonts */






/* Desktop */
@media only screen and (min-width: 601px) {

    * {
        margin: 0px;
        padding: 0px;
    }

    .navmobile {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }

    .navdesktop {
        width: 100%;
        height: 10vh;
        background-color: rgba(242, 217, 141, 0.2);
        display: inline-block;
        flex-direction: row;
        justify-content: center;
    }

    .desktopnavlinks {
        display: flex;
        justify-content: center;
        margin-right: 10vh;
    }

    .desktoplogodiv {
        float:inline-start;
        padding: 0vh 0vh 0vh 3vh;
    }

    .desktoplogo {
        width: 70px;
    }

    .desktopnavul {
        display: flex;
        flex-direction: row;
    }

    .desktopnava {
        text-decoration: none;
        padding: 4vh 4vh 3.31vh 4vh;
        color: #037F8C;
    }

    .desktopnava:hover {
        animation: desktopnavlinks 0.75s forwards;
    }

    .desktopnava1 {
        text-decoration: none;
        padding: 4vh 4vh 3.31vh 4vh;
        background-color: #F2c299;
        color: #037F8C;
    }

    main {
        background-color: #048ABF;
        height: 75vh;
    }

}





/* Mobile */
@media only screen and (max-width: 600px) {

* {
        margin: 0px;
        padding: 0px;
    }

    .navdesktop {
        width: 100%;
        height: 10vh;
        visibility: hidden;
    }

    .navmobile {
        width: 100%;
        height: 10vh;
        background-color: rgba(242, 217, 141, 0.2);
        display: inline-block;
        flex-direction: row;
        justify-content: center;
    }

    .mobilenavlinks {
        display: flex;
        justify-content: center;
        margin-right: 10vh;
    }

    .mobilelogodiv {
        float:inline-start;
        padding: 0vh 0vh 0vh 3vh;
    }

    .mobilelogo {
        width: 70px;
    }

    .mobilenavul {
        display: flex;
        flex-direction: row;
    }

    #ham {
        width: 50px;
    }

    .mobilenava {
        text-decoration: none;
        padding: 4vh 4vh 3.31vh 4vh;
        color: #037F8C;
    }

    .mobilenava1 {
        text-decoration: none;
        padding: 4vh 4vh 3.31vh 4vh;
        background-color: #F2c299;
        color: #037F8C;
    }

    main {
        background-color: #048ABF;
        height: 75vh;
    }
    
}
